### C template
# Prerequisites
*.d
#txt
*.txt
#.vscode
.vscode/
# Исключение папки настроек CLion
.idea/

# Исключение временных файлов CMake
cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CMakeLists.txt
.cmake/
# Object files
*.o
*.ko
*.obj
*.elf
*.exe
2_1
2_2
2_3
3_*
4_*
5_*
6_*
chat*
chat*_posix
random_gen_pipe
square_areas
ContactManager
sum
concat
shell
random_gen
# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
module3/12/random_gen_shared
module3/13/random_gen_shared
module3/14/udp_server
module3/14/udp_client
module3/15/tcp_client
module3/15/tcp_server
module3/16/tcp_client
module3/16/tcp_server
module3/16/test/tcp_client
module3/16/files
module3/16/test
module3/17/sniffer
module3/17/dump.bin
module3/17/save/dump.bin
module3/18/tcp_client
module3/18/tcp_server_multiplex
module3/16/ForClient/Makefile
module3/16/ForClient/tcp_client
module3/16/ForClient/tcp_server.c
Кросс-задания/task1/echo_client
Кросс-задания/task1/echo_server
