### C template
# Prerequisites
*.d
#txt
*.txt
#.vscode
.vscode/
# Исключение папки настроек CLion
.idea/

# Исключение временных файлов CMake
cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CMakeLists.txt
.cmake/
# Object files
*.o
*.ko
*.obj
*.elf
*.exe
2_1
2_2
2_3
3_*
4_*
5_*
6_*
chat*
chat*_posix
random_gen_pipe
square_areas
ContactManager
sum
concat
shell
# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
module3/06/chat2
module3/06/chat1
module3/07/chat1_posix
module3/07/chat1_posix
module3/07/chat2_posix
